* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {

    background-color: rgb(221, 219, 219);

}

.wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}

.container {

    background-color: white;
    min-width: 250px;
    height: 200px;
    padding: 10px;


    border: 2px solid black;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.title{
    display: block;
}