* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    margin: 8px;
    font-family: 'Helvetica', 'sans-serif';
    background-color: rgb(221, 219, 219);
}



.wrapper {
    display: flex;
    flex-direction: column;
    

    gap: 5px;
    margin: 100px auto;
    max-width: 700px;
    width: 80%;
    padding: 20px;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);


    background-color: white;


}

h1 {
    margin-top: 0;
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
}

p {
    margin-top: 15px;
}

label {
    text-decoration: underline;
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0;
    width: 100%;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #449747;
}



.total-value {
    text-align: center;
    font-size: 20px;
    font-weight:bold;

}