

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to left bottom, lightgreen, lightblue);
    font-family: monospace;
    color: darkcyan;
}

.container {
    display: flex;
    flex-direction: column;

    align-items: center;
    background: rgba(255, 255, 255, 0.3);

    max-width: 450px;
    min-width: 350px;
    width: 85%;
    /* height: 350px; */

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.title {
    font-size: 32px;
}

h1 {
    display: block;
    margin: 25px 0;

}



.label {

    font-size: 18px;
    font-weight: bold;
    color: darkcyan;

}

.userInput {
    width: 220px;
    font-family: monospace;
    padding: 5px;
    float: right;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.5);
    color: darkgreen;
    font-size: 18px;

}

.userInput::placeholder{
    color: darkgray;
}

.tempContainer {

    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;


}