body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.box1 {
    height: 50px;
    width: 50px;
    border: 2px solid red;
    font-size: 50px;
    color: black;
}